In [1]:
Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
a = "sourav"

In [3]:
type(a)

str

In [4]:
l = [1,2,3,4,5,True]

In [5]:
type(l)

list

In [6]:
 b = 34.54

In [7]:
type(b)

float

In [ ]:
Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.

In [2]:
var1 = '  '

In [3]:
type(var1)

str

In [4]:
var2 = '[ DS , ML , Python]'

In [5]:
type(var2)

str

In [6]:
var3 = [ 'DS' , 'ML' , 'Python']

In [7]:
type(var3)

list

In [8]:
var4 = 1

In [9]:
type(var4)

int

In [ ]:
Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [17]:
#Arithmetic Operator
(i) = 3/4

In [18]:
(i)

0.75

In [23]:
#Modulus Operator
(ii) = 15%6

In [24]:
(ii)

3

In [25]:
#Division or Floor Operator
(iii) = 6//3

In [26]:
(iii)

2

In [27]:
#Exponent operator
(iv) = 5**8

In [28]:
(iv)

390625

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [29]:
 l = [2,3,4,5,6,7,8,54.65,89,9]

In [31]:
for i in l :
    print(type(i))
    if i == 9 :
        continue
    print(i)

<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>
8
<class 'float'>
54.65
<class 'int'>
89
<class 'int'>

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [33]:
def count_divisions(A, B):
    if B == 0:
        raise ValueError("Cannot divide by zero (B should be non-zero).")

    count = 0
    while A % B == 0:
        A //= B
        count += 1

    return count

In [33]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [6]:
l = [i for i in range(1, 26)]
for n in l:
    if n % 3 == 0:
        print( f"{n} is divisible by 3.")
    else:
        print( f"{n} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

In [7]:
#Mutable Data Type - Mutable objects are those that allow you to change their value or data in place without affecting the object’s Data
#example
l = [1,2,3,4,5,6,7,8]

In [9]:
l[2] = 34

In [10]:
l

[1, 2, 34, 4, 5, 6, 7, 8]

In [11]:
#Imutable Data Type -  immutable objects don’t allow this kind of operation. You’ll just have the option of creating new objects of the same type with different values.
#example
s = "Sourav"

In [14]:
s[1] = 'a'

TypeError: 'str' object does not support item assignment